.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(min-content, 1fr);

    gap: 16px;
    margin: 0 48px;

}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 16px;
    }
}
