.page__section_position_bottom {
    margin-top: 92px;
}

@media screen and (max-width:1023) {
    .page__section_position_bottom {
        margin-top: 90px;
    }
}

@media screen and (max-width:767px) {
    .page__section_position_bottom {
        margin-top: 66px;
    }
}
