.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */

    text-align: center;

    color: #FFFFFF;
    display: block;
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width:767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}
