.place__paragraph {
    display: block;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 163% */
    margin: 0;
    padding: 0;

    color: #FFFFFF;
}


@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;

    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
}
