.intro {
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin-right: 16px;
        margin-left: 16px;
    }
}
