.cover {
    background-image: url("../../images/cover-trains.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: calc((1184 / 1280) * 100vw);
    height: calc((740 / 1280) * 100vw);
    margin: 0 auto;
}


@media screen and (max-width: 1279px) {
    .cover {
        width: 100vw;
        height: calc((640 / 1024) * 100vw);
    }
}
