.place__link {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    text-decoration-line: underline;

    color: #FFFFFF;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 767px) {
    .place__link {
        margin-left: 16px;
    }
}
