.cover__overlay {
    /* background: #2A2C2F; */
    background-color: rgba(42, 44, 47, 0.3);
    /* opacity: 0.3; */
    width: 100%;
    min-height: 57.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
}


@media screen and (min-width: 1281px) {
    .cover__overlay {
        min-height: 740px;
    }
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        min-height: 62.5vw;
    }
}
