.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 48px 24px;
}



@media screen and (max-width: 1023px) {
    .footer {
        margin: 0 24px 24px;
    }
}



@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        margin: 0 0 24px 16px;
        gap: 48px;
        justify-content: start;
    }
}
