.place__url-heading {
    display: block;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    letter-spacing: 2px;

    color: #AAAAAA;

    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        margin-left: 16px;
    }
}
