.intro__title {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */


    color: #FFFFFF;
    display: block;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
    }
}
